$table: rgba(135, 129, 221, 0.295);
$textColor: rgb(51,51,51);
$numbers: red;
$background: background-color;
/*add mix ins */
@mixin flexCenter($background) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background;
}


header {
@include flexCenter(rgb(245,245,245));
}

#myTable {
    background-color: $table;
    #num {
        background-color: $table;
        &:hover{
            background-color: $numbers;
        }
    }
}

// add inheritance
.listContainer {
    @extend header
}

.simpleList {
    list-style-type: upper-roman;
    text-align: center;
}


body {
    color: $textColor;
}

