body {
    
    background-color: rgba(255,255,255);
    color:  rgba(51,51,51);
    margin: 0 auto;
    /* background: url(../images/PCT/IMG_1066.jpeg) no-repeat center center fixed; */
   
}

.navContainer {
    /* border: 3px solid red; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51,51,51);
}


.navbar {
    /* border: 3px solid yellow; */
    display: flex;
    width: 20rem;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
}

/* .current{
    
} */

.navbar a {
    text-decoration: none;
    color:  rgba(51,51,51);
}

.fa-send-o{
    display: flex;
    width: 2rem;
    padding: 14px;
    /* border: 3px solid yellow; */
	color:  rgba(51,51,51);
}

.mainContainer {
    /* border:3px solid yellow; */
    margin: 10px auto;
    width: 70%;
}

header{
    /* border: 3px solid red;  */
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
}

#headShot {
    /* border: 3px solid green; */
    width: auto;
    height: 400px;
    margin: auto;

}

.aboutContainer {
    /* border: 3px solid blue; */
    margin-top: 80px;
    display: flex;
}

#aboutParContainer {
    /* border: 3px solid red; */
    padding: 10px 80px 10px 10px;
    margin: auto;
    
}

/* #aboutPar {
    border: 3px solid orange;
    /* width: 50%;
    margin: 0 auto; 
}*/
 

footer {
    /* border: 3px solid red; */
    position:fixed ; 
    bottom: 10px;
    width: 100%;
    
    /* border-top: 1px solid rgba(244,244,244); */
    /* margin: 0 auto; */
}

#footer {
    /* border: 3px solid blue; */
    width: 90%;
    border-top: 1px solid rgba(51,51,51);
    margin: 0 auto;
}

#hikeContainer{
    /* border: 3px solid orange; */
    margin: 0 auto;
    width: 90%;

}

.hike {
    /* border: 3px solid green; */
    margin: 25px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

.image {
    /* border: 3px solid red; */
    height: auto;
    width: 60%;
    display: inline-block;
    vertical-align: middle;

}

.details {
    /* border: 3px solid blue; */
    width: 60%;
    margin-top: 5px;
    margin-bottom: 15px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

